node_modules
.vscode/*
dist/
.DS_Store
docs/build
.idea

coverage
.env
tests/acceptance/mvc
tests/acceptance/mcp02/cc.test.ts
tests/acceptance/mcp02/convert.test.ts
tests/acceptance/mcp02/mit.test.ts

# renew